/* Global */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", cursive;
}
.btn {
    border-radius: 0;
    font-family: "Roboto", sans-serif;
}

/* Map */
#map {
    height: 100%;
    width: 50%;
}

/* Overlay */
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
}
#overlay p {
    font-size: 2em;
    color: #222;
    position: absolute;
    text-align: center;
    top: 30vh;
    left: 20%;
    width: 10%;
    background: #fff;
    padding: 0.5em;
}
#loading {
    width: 50px;
}

/* Menu */
#menu_parent {
    position: absolute;
    top: 0.5em;
    right: 55%;
    opacity: 0.95;
    z-index: 5;
}
.dropdown_item {
    font-weight: bold;
}
.dropdown_item .btn {
    color: #fff;
}

/* Center Block */
.center_block {
    display: none;
    position: absolute;
    top: 15vh;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    left: 5%;
    width: 40%;
    background: #fff;
    padding: 1em;
    border-radius: 1em;
    z-index: 10;
}
@media only screen and (max-device-width: 600px) {
    .center_block {
        left: 5%;
        width: 90%;
        top: 8vh;
        max-height: 90vh;
    }
}
.exit_center_block {
    float: right;
}

/* Room */
#room_parent {
    position: absolute;
    z-index: 10;
    top: 0vh;
    max-height: 100vh;
    height: 100vh;
    left: 50%;
    width: 50%;
    border-radius: 0;
    opacity: 0.98;
    background-color: #222;
    color: #F4F4F4;
    transition: background-color 1s ease;
}
#room_parent.light {
    background-color: #F4F4F4;
    color: #222;
}
#room_name {
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 0 0 1em;
    font-size: 1.6em;
    font-family: "Roboto Slab", cursive;
    color: #fff;
    background: #333;
}
#room_toolbar {
    position: relative;
    z-index: 100;
    margin-right: 1.2em;
}

/* Content */
#message_content_parent {
    /* Fix chat to bottom */
    position: fixed;
    bottom: 4em;
    max-height: calc(100vh - 4em);
    width: 50%;
    max-width: 50%;
    overflow: auto;
    overflow-x: hidden;
    font-size: 1.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.message_parent {
}
.message_face {
    margin-right: 0.1em;
}
.message_pin {
    padding: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    font-size: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0.3em;
}
.message_pin:hover {
    cursor: pointer;
}
.message_username,
.message_face,
.message_pin {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
}
#message_content_parent .message_username {
    font-weight: bold;
    margin-right: 0.2em;
    font-family: "Roboto", sans-serif;
}
#message_content_parent .message_username,
#message_content_parent .message_face,
#message_content_parent .message_pin {
    text-shadow: 0px 1px 0px rgba(244, 244, 244, 0.2);
}
#message_content_parent.light .message_username,
#message_content_parent.light .message_face,
#message_content_parent.light .message_pin {
    text-shadow: 0px 2px 2px rgba(34, 34, 34, 0.8);
}
.message_username:after {
    content: ':';
}
.message_message {
    vertical-align: bottom;
}
.system_message {
    text-align: center;
    font-family: "Righteous", sans-serif;
}
.system_message.system_start_room,
.system_message.system_date_time {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}
.system_message.system_start_room {
    color: #882D60;
}
.system_message.system_date_time {
    color: #882D60;
}
.at_username {
    font-weight: bold;
    color: #882D60;
    vertical-align: bottom;
}
#empty_room_message {
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Righteous", sans-serif;
    color: #882D60;
}

/* Pinned */
.pinned {
    position: fixed;
    top: 4em;
    right: 1.2em;
    z-index: 10;
}
.pinned .message_face,
.pinned .message_username {
    display: none;
}
.active_pin {
    background-color: #000;
}
.embedica_element iframe {
    width: 350px;
    height: 200px;
}
.embedica_element img {
    width: auto;
    max-height: 200px;
}

/* Content */
.message_content {
    max-width: 100%;
    max-height: 100vh;
}
.pinned .embedica_youtube iframe,
.pinned .embedica_vimeo iframe,
.pinned .embedica_twitch iframe,
.pinned .embedica_video iframe {
    width: 400px;
    height: 250px;
}
.pinned .embedica_soundcloud iframe {
    width: 420px;
    height: 100px;
}
.pinned .embedica_image img {
    max-height: 33vh;
}

/* Inputs */
#message_input_parent {
    position: fixed;
    z-index: 20;
    width: 100%;
    max-width: 100%;
    bottom: 0;
}
#message_input {
    height: 4em;
    background-color: #F4FAFF;
    color: #222;
}

/* Change layout for mobile, map on top */
#room_exit {
    display: none;
}
@media only screen and (max-device-width: 600px) {
    #room_exit {
        display: inline-block;
    }
    #map {
        top: 0;
        height: 100%;
        width: 100%;
    }
    #room_parent {
        display: none;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0.95;
        max-height: 100vh;
        height: 100vh;
        width: 100%;
    }
    .message_content {
        max-width: 100%;
        max-height: 100vh;
    }
    #message_content_parent {
        width: 100%;
        max-width: 100%;
    }
    #menu_parent {
        right: 2%;
    }
    .menu_username_text {
        display: none;
    }
}

/* Orange Action Bootstrap-Styled Button */
.btn-action {
    background-color: hsl(44, 100%, 56%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e));
    background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e);
    background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e));
    background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e);
    background-image: -o-linear-gradient(top, #ffc31e, #ffc31e);
    background-image: linear-gradient(#ffc31e, #ffc31e);
    border-color: #ffc31e #ffc31e hsl(44, 100%, 56%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
    background-color: hsl(38, 100%, 54%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814));
    background-image: -moz-linear-gradient(top, #ffa814, #ffa814);
    background-image: -ms-linear-gradient(top, #ffa814, #ffa814);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814));
    background-image: -webkit-linear-gradient(top, #ffa814, #ffa814);
    background-image: -o-linear-gradient(top, #ffa814, #ffa814);
    background-image: linear-gradient(#ffa814, #ffa814);
    border-color: #ffa814 #ffa814 hsl(38, 100%, 54%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
}